<button mat-raised-button color="primary" [matMenuTriggerFor]="menuSelection">{{(devices|devicesSelected).length}} selected </button>
<mat-menu #menuSelection="matMenu">
    <button mat-menu-item (click)="selectAll()">All</button>
    <button mat-menu-item (click)="selectNone()">None</button>
</mat-menu>
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="(devices|devicesSelected).length == 0">
    Group to
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openNewGroupDialog()">New...</button>
    <mat-divider></mat-divider>
    <button *ngFor="let group of groups" (click)="groupTo(group)" mat-menu-item [disabled]="currentGroup && group.id == currentGroup.id">
        {{group.name}}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item [disabled]="!currentGroup" (click)="groupTo(undefined)">None</button>
</mat-menu>