<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="goPage('devices');sidenav.close();">
        <mat-icon mat-list-icon>tablet_android</mat-icon>
        <span matLine>Devices</span>
        <span matLine class="secondary">Manage devices and groups</span>
      </a>
      <a mat-list-item (click)="goPage('files');sidenav.close();">
        <mat-icon mat-list-icon>insert_drive_files</mat-icon>
        <span matLine>Files</span>
        <span matLine class="secondary">Manage files and storage</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button mat-button class="button-menu">
            <mat-icon class="md-24" (click)="sidenav.open()">menu</mat-icon>
          </button>
      <img height="50px" src="/assets/img/logo.png" />
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>