<table class="table mat-elevation-z2" *ngIf="devices && devices.length > 0" [@tableInOut]="tableInOut">
  <thead class="text-info">
    <tr>
      <th></th>
      <th>Type</th>
      <th>Label</th>
      <th>Mac</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices" [@rowState]="device.rowState" class="tr-row-device">
      <td>
        <mat-checkbox [(ngModel)]="device.isSelected"></mat-checkbox>
      </td>
      <td>
        <i class="material-icons">tablet_android</i>
      </td>
      <td>
        {{ device.label }}
        <i *ngIf="!device.label">No label</i>
        <button mat-icon-button class="button-edit-label">
          <mat-icon matTooltip="Edit label" (click)="editDeviceLabel(device)">mode_edit</mat-icon>
        </button>
      </td>
      <td>{{ device.mac }}</td>
      <td>
        <span id="status-connected">
            <i class="material-icons primary" *ngIf="device.isConnected">phonelink_ring</i>
            <i class="material-icons" *ngIf="!device.isConnected">phonelink_erase</i>
        </span>
        <span id="statuses-inactive-if-not-connected" [ngClass]="{'mat-inactive':!device.isConnected}">
            <span id="status-play" >
                <i class="material-icons" *ngIf="device.isActive">play_arrow</i>
                <i class="material-icons" *ngIf="!device.isActive">pause</i>
              </span>
              <span id="status-lock" [ngClass]="{'mat-inactive':!device.isConnected}">
                <i class="material-icons" *ngIf="device.isLocked">lock</i>
                <i class="material-icons" *ngIf="!device.isLocked">lock_open</i>
              </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<i *ngIf="!devices || devices.length == 0">No devices</i>