

<div style="width:100%;margin-left:24px;margin-top:12px;margin-bottom:-12px;">
    <button mat-raised-button (click)="openNewGroupDialog()"><mat-icon>create_new_folder</mat-icon> New group </button>
</div>
<div class="card-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h3>Devices</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <devices-actions 
                [devices]="devices | devicesGroup:undefined"
                [groups]="groups"  
                [currentGroup]="undefined"
            ></devices-actions>
        </mat-card-actions>
        <mat-card-content>
            <table-devices [devices]="devices | devicesGroup:undefined"></table-devices>
        </mat-card-content>
    </mat-card>
</div>

<div class="card-container" *ngFor="let group of groups">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h3>{{ group.name }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div class="group-actions">
                <span>
                    <span *ngIf="!group.isLocked" (click)="setGroupLocked(group, true)">
                        <button mat-raised-button><mat-icon>lock_open</mat-icon> Lock </button>
                    </span>
                    <span *ngIf="group.isLocked" (click)="setGroupLocked(group, false)">
                        <button mat-raised-button><mat-icon>lock</mat-icon> Unlock </button>
                    </span>
                </span>
                <span>
                    <span>
                        <button mat-raised-button (click)="openDocumentsDialog(group)"><mat-icon>insert_drive_files</mat-icon>
                            <span [ngPlural]="group.documents.length">
                                <ng-template ngPluralCase="0">Manage documents</ng-template>
                                <ng-template ngPluralCase="1">Manage document ({{group.documents.length}})</ng-template>
                                <ng-template ngPluralCase="few">Manage documents ({{group.documents.length}})</ng-template>
                            </span>
                        </button>
                    </span>
                </span>
            </div>
            <devices-actions 
                [devices]="devices | devicesGroup:group"
                [groups]="groups"  
                [currentGroup]="group"
            ></devices-actions>
        </mat-card-actions>
        <mat-card-content>
            <table-devices [devices]="devices | devicesGroup:group"></table-devices>
        </mat-card-content>
    </mat-card>
</div>