.mat-card-actions{
    color:black;
    width:100%;
}

.mat-card-title{
    margin-bottom: 0px;
}

.mat-card{
    margin-left: 24px;
    margin-top: 24px;
}

.group-actions {
    width:100%;
    margin-bottom:8px;
}

.mat-raised-button{
    margin-right:4px !important;
    margin-bottom:4px !important;
}