<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-icon>warning</mat-icon>
    <span *ngIf="data.type == 'remove'">Are you sure to remove {{data.entityName}}<i>"{{data.name}}"</i> ?</span>
    <span *ngIf="data.irrevocable" ><br/>This action is irrevocable. </span>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="continue()" tabindex="0" color="primary">
        <mat-icon>check</mat-icon>
        Continue
    </button>
    <button mat-button (click)="cancel()" tabindex="-1" color="accent">
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>
</div>
      