.mat-raised-button{
    min-width: auto;
}

.documents-part{
    margin: 3px;
    margin-bottom: 10px;
}

.documents-part h2{
    margin-bottom: 4px;
    margin-bottom: 4px;
    font-size: 12pt;
}

.documents-part table{
    margin: 8px;
    min-width: 260px;
}

.documents-part .action-button{
    float: right;
}

.documents-part .info{
    color: gray;
    margin : 8px;
    font-style: italic;
}